.filter-container {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  height: 4vw;
  margin: auto;
}
.optimal {
  background-color: #6666663b;
}
.more {
  background-color: #6666663b;
}
.empty {
  background-color: transparent;
}

.filter-container button {
  height: 80%;
  width: 10vw;
  margin-top: 3%;
  color: white;
  border: solid;

  border-width: thin;
  border-color: hsla(0, 0%, 100%, 0.10196078431372549);
  transition: 0.25s;
}

.filter-container button:hover {
  border-color: hsla(0, 0%, 100%, 0.26);
  background-color: #6666663b;
  transition: 0.25s;
}
