.no-cars {
  margin-top: 3%;
  display: flex;
  color: white;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.no-cars h1 {
  margin: auto;
}
.no-cars img {
  margin-top: -5%;
  width: 15%;
  position: relative;
  left: 1%;
}
